# Ignore Python bytecode files
__pycache__

# Ignore Flask session files
flask_session/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
*.pyc
*.pyo
*.pyd
__pycache__/
instance/
flask_session/

# SQLite database
*.sqlite3
*.db

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Jupyter Notebook
.ipynb_checkpoints
