{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

{% if transactions %}
<table class="table">
  <thead>
      <tr>
          <th class="text-start">Symbol</th>
          <th class="text-end">Shares</th>
          <th class="text-end">Share Price</th>
          <th class="text-end">Total</th>
          <th class="text-end">Transacted</th>
      </tr>
  </thead>
  <tbody>
      
      {% for transaction in transactions %}
      <tr>
          <td class="text-start">{{ transaction["symbol"] }}</td>
          <td class="text-end">{{ transaction["share_quantity"] }}</td>
          <td class="text-end">{{ transaction["share_price"] | usd }}</td>
          <td class="text-end">{{ transaction["total_paid"] | usd }}</td>
          <td class="text-end">{{ transaction["timestamp"] }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% else %}

    <h2>You made no transactions yet</h2>

{% endif %}

{% endblock %}