{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

    <h2 class="header-template">Search for a Stock Quote</h2>
    <form class="form-quoted" action="/quote" method="post">
        <div class="form-div">
          <input autocomplete="off" autofocus class="form-control input-template" name="symbol" placeholder="Symbol" type="text">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <div class="quoted-results">
      <div class="symbol-div"><span>{{ quote['symbol'] }}</span></div>
      <div class="price-div"><span>Price: </span>{{ quote['price']|usd }}</div>
    </div>

{% endblock %}