{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <h2 class="header-template">Sell stocks</h2>
    <form class="form-template sell-form" action="/sell" method="post">

        <select class="form-select mx-auto w-auto sell-select" name="symbol">
            <option disabled selected>Symbol</option>
          {% if portfolio %}

            {% for stock in portfolio %}
            <option value="{{ stock['symbol'] }}">{{ stock["symbol"] }}</option>
            {% endfor %}
          
          {% endif %}
        </select>
        <div class="form-div buy-sell-inputs">
          <input autocomplete="off" autofocus class="form-control input-template" name="shares" placeholder="Amount of shares" type="number" min="1">
          <button class="btn btn-primary" type="submit">Sell now</button>
        </div>
    </form>

{% endblock %}